* {
  box-sizing: border-box;
}

:root {
  --light-background-color: white;
  --medium-background-color: #ddd;
  --primary-color: hsla(240, 81%, 31%, 1);
  --secondary-color: hsla(26, 100%, 59%, 1);
  --terciary-color: hsla(350, 76%, 23%, 1);
  --fourth-color: hsla(20, 100%, 34%, 1);
  --padding-small: 20px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
}

.flex-container {
  display: flex;
  justify-content: space-around;
  height: 200px;
}

.one-flex-container {
  align-items: center;
  flex-wrap: wrap;
}

.two-flex-container {
  flex-wrap: wrap;
}

.flex-container {
  background-color: var(--primary-color);
}

.one-flex-child {
  width: 100px;
  background-color: var(--terciary-color);
  color: white;
  text-shadow: black;
}

.two-flex-child {
  height: 50px;
  background-color: var(--terciary-color);
  flex-basis: 100px;
  border: 1px solid white;
  color: white;
}

#first-child-two {
  order: 3;
}

#second-child-two {
  order: 1;
}

#third-child-two {
  order: 2;
  flex-grow: 2;
}

.alert {
  background: yellow;
  padding: 5px;
  text-align: center;
  font-weight: 900;
}

.header {
  padding: 60px;
  text-align: center;
  background: var(--primary-color);
  color: var(--light-background-color);
}

.navbar {
  display: flex;
  background-color: #333;
}

.navbar a {
  color: var(--light-background-color);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: var(--medium-background-color);
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: var(--padding-small);
}

.main {
  flex: 70%;
  background-color: var(--light-background-color);
  padding: var(--padding-small);
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: var(--padding-small);
  height: 200px;
}

.smallimg {
  height: 60px;
}

.footer {
  padding: var(--padding-small);
  text-align: center;
  background: var(--medium-background-color);
}

.footer {
  text-align: center;
  background-color: var(--terciary-color);
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

@media (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column;
  }
}
