body {
  background: linear-gradient(to bottom, #00f, #00f, #ddda14);
}

li {
  list-style: none;
}

#navbar {
  width: 25%;
  border: 2px solid black;
  height: 100%;
  position: fixed;
  overflow: auto;
  display: inline-block;
  background: linear-gradient(to bottom, #ddda14, #00f, #00f);
  text-align: center;
}

a:link > p,
a:visited > p,
li > a:link {
  display: inline-block;
  text-decoration: none;
  background-color: greenyellow;
  border: 2px solid blue;
  color: black;
  padding: 5px;
  width: 200px;
  text-align: center;
  margin-bottom: 2px;
  padding-bottom: 1px;
}

a:hover,
a:active,
a:hover > p {
  background-color: red;
  color: purple;
}

table,
td,
tr,
th {
  border: 2px solid black;
}

th {
  text-transform: uppercase;
  padding: 5px 10px;
}

p.table {
  color: rgb(255, 255, 255, 1);
  text-shadow: -0.5px -0.5px 0 #000000, 0.5px -0.5px 0 #000000,
    -0.5px 0.5px 0 #000000, 0.5px 0.5px 0 #000000;
}

.top-row {
  color: #ffffff;
  background-color: #000000;
  font-weight: 500;
}

.p-div {
  background: url(../assets/images/icon.png) repeat-y right 500px fixed;
  text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff,
    0.5px 0.5px 0 #fff;
  border: #dbe477 groove;
}

a:visited {
  color: pink;
  background-color: aqua;
  text-decoration: none;
}

a:hover {
  font-size: 50px;
  cursor: pointer;
}

a:active {
  color: #ddda14;
}

li a {
  display: block;
}

main {
  margin-left: 25%;
  padding: 10px;
}

#navbar > li {
  margin: auto;
  border: 1px solid orchid;
  width: 80%;
  text-align: center;
  margin-top: 2px;
}

#navbar > li > a {
  width: 100%;
  text-align: center;
}

/* display: none; surrounding elements move to fill in the empty space  */
/* visibility: hidden; empty space is left void and surrounding elements stay where they were */
