* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* common fall backs : serif, sans-serif, monospace, cursive, fantasy */

#horizontal-list ol {
  margin: 10px;
  overflow: hidden;
}

#horizontal-list ol li {
  float: left;
  display: block;
  padding: 10px;
}

body {
  background-color: hsl(155, 55%, 50%);
}

.second,
.third {
  float: left;
  width: 20%;
  background-color: aqua;
  border: solid 10px red;
}

.first {
  float: left;
  width: 60%;
  background-color: aquamarine;
  border: solid 5px blue;
  text-align: center;
}

.first,
.third,
.second {
  height: 200px;
}
@media (max-width: 576px) {
  .first,
  .second,
  .third {
    width: 100%;
  }
}

li {
  /* text-indent: 50px; */
  /* letter-spacing: 5px; */
  /* letter-spacing: -2px; */
  /* line-height: .8; */
  /* word-spacing: 10px; */
  /* text-shadow: 1px 1px 5px white; */
  font-variant: small-caps;
}

#unordered-list {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
  letter-spacing: -2px;
  font-weight: 500;
  list-style-type: circle, square, upper-roman, lower-alpha;
}
