#container {
  position: relative;
  top: 0;
  border: 3px solid hsl(50, 100%, 50%);
  height: 250px;
}

#one,
#one > h1 {
  position: relative;
  left: 30px;
  border: 3px solid hsl(240, 100%, 50%);
}

h3 {
  width: 50%;
  border: 3px solid hsl(11, 100%, 50%);
  margin: auto;
}

h1 {
  padding: 0, 50px;
  color: aquamarine;
}

h1:hover {
  color: aqua;
}

#two {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 3px solid hsl(180, 100%, 50%);
}

pre {
  display: none;
}

#two:hover pre {
  display: block;
}

#three {
  position: absolute;
  left: 50px;
  border: 3px solid hsl(120, 100%, 50%);
}

#four {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border: 3px solid hsl(0, 100%, 50%);
  z-index: 1;
}

.child {
  background-color: hsl(0, 0%, 50%);
}

.child:hover {
  background-color: hsl(0, 0%, 75%);
}

.child:active {
  background-color: hsl(0, 0%, 100%);
}

li {
  font-size: 50px;
}

li:nth-child(odd) {
  border: 3px solid blue;
}
li:nth-child(even) {
  background-color: hsl(0, 0%, 75%);
}
#empty {
  height: 500px;
}

nav.nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsl(0, 0%, 85%);
}

nav.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* if you hover over and the link is not active */
nav a:hover:not(.active) {
  background-color: hsl(0, 0%, 50%);
}

nav a.active {
  float: right;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: hsl(0, 0%, 50%);
}

@media (max-width: 796px)  {
  nav.nav a.right,
  nav.nav a {
    float: none;
    display: block;
  }
}